<%= content_tag :div, class: 'media', id: "appointment-#{appointment.id}" do %>
<ul>
	<li>Appointment Date:<%= appointment.app_date %></lh>
	<li>Check in time <%= appointment.check_in_time %> AM</li>
	<li>The name(s) of your dog: </li>
		<% appointment.appointments_dogs.each do |ap_dog| %>
			<% if ap_dog.dog %>
			 </li><%= ap_dog.dog.name %></li>
			<% end %>
			<% if !appointment.memo.empty? %>
    			<li>Any special memo: <%= appointment.memo %>(We will do the best to accommodate, but we are sorry that we can not guarantee.)</li>
    		<% end %>
    	<% end %>

</ul>
<% end %>