<%= render 'layouts/flash' %>
<div class="row">
	<div class="col-md-8">
		<%=form_for [user, appointment]  do |f| %>
			<% if appointment.errors.any? %>
			 <div class="alert alert-danger">
			 	<h4>There are <%= pluralize(appointment.errors.count, "error") %>.</h4>
			 	<ul>
			 		<% appointment.errors.full_messages.each  do |msg| %>
			 		 <li><%= msg %></li>
			 		<% end %>
			 	</ul>
			 </div>
			<% end %>
		<% if !appointment.app_date %>
			<h2><i> Please click the date on calendar to choose the appointment date.</i></h2>
			<br>
			<br>
		<% end %>
    </div>
</div>
<div class="row">
 <div class="col-md-8">
  <div id='calendar' class="center calendar-form"></div>
 </div>
 <div class="col-md-2 indicator-box-left">
  <div id="indicate-box-top">
   <div id="title-white"><h6>White: available dates</h6></div>
   <div id="white-box" class="indicate-box"></div>
   <div class="title"><h6>Pink:  booked dates</h6></div>
   <div id="pink-box" class="indicate-box"></div>
   <div class="title"><h6>Yellow: past dates</h6></div>
   <div id="yellow-box" class="indicate-box"></div>
  </div>
 </div>
 </div>  
 <div id="calendarModal" class="modal fade">
			<div class="modal-dialog">
   			 <div class="modal-content">
        		<div id="modalBody" class="modal-body"> </div>
        		<div class="modal-footer">
        			<button type="button" class="btn btn-primary" id="app_date_value">Yes</button>
            		<button type="button" class="btn btn-default" id ="app_date_nonselected" data-dismiss="modal">No</button>
        		</div>
    		</div>
		    </div>
	     </div>
	     <%= form_group_tag(appointment.errors[:app_date]) do %>
				<%= f.label :app_date, "Appointment Date" %>				
				<%= f.date_select :app_date, class:'form-control', id: 'app_date' %>
		 <% end %>

			<% if current_user.dogs.any? %>
				<%= f.label :dog_ids, "Please choose name of your dog. " %>
           		<%= f.collection_select :dog_id, current_user.dogs.all, :id, :name, {}, multiple: true, size: 3 %>
           		<p><i>If you do not choose one, you will be bringing one dog.</i></p>
           		<p><%= link_to "Add/Edit/Delete your dog information ", new_user_dog_path(current_user) %></p>
           	 <% else %>
           	  <p><%= link_to "Add your dog information or we undersatnd you will be bringing one dog.", new_user_dog_path(current_user) %></p>
      
           	<% end %>
			<%= form_group_tag(appointment.errors[:check_in_time]) do %>
				<%= f.label :check_in_time %>
				<%= f.select :check_in_time, [["08:00 AM", "08:00"], ["08:30 AM", "08:30"], ["09:00 AM", "09:00"], ["09:30 AM", "09:30"]] %>
				(Please bring your dog(s) only those times.)
			<% end %>
			<%= form_group_tag(appointment.errors[:telephone]) do %>
				<%= f.label :telephone %>
				<% if current_user.phone_number && !appointment.telephone %>
				<%= f.text_field :telephone , :value => number_to_phone(current_user.phone_number), id: 'phone' %>
				<% else %>
				<%= f.text_field :telephone , :value => number_to_phone(appointment.telephone), id: 'phone'%>
				<% end %>
				

			<% end %>			
			<div class="form-group">
				<%= f.label :memo %>
				<%= f.text_area :memo%>
 			</div>	
 			<div class="form-group">
 				<%= f.submit "Next to confirm" %>
 			</div>	
		<% end %>
	</div>
</div>	
<script type="text/javascript">
 $(document).ready(function(){
 	 $('#appointment_app_date_1i').empty();
 	 $('#appointment_app_date_2i').empty();
 	 $('#appointment_app_date_3i').empty();
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var month = new Array();
		month[0] = "January";
		month[1] = "February";
		month[2] = "March";
		month[3] = "April";
		month[4] = "May";
		month[5] = "June";
		month[6] = "July";
		month[7] = "August";
		month[8] = "September";
		month[9] = "October";
		month[10] = "November";
		month[11] = "December";
		

		
$('#calendar').fullCalendar({
	editable: true,
		dayRender : function(date, cell) {
		var today = new Date();
		var cellYear = date.format('YYYY');
		var cellMonth = date.format('MM');
		var cellDay = date.format('DD');
		        
		// date = $.fullCalendar.formatDate(date, 'YYYY, MM, DD');
		// cellDate = $('.fc-day').find(data('date'));
		if (date < today) {
			cell.css("background-color", "yellow");
			cell.css("opacity", 0.5);
		}

	
		$('.fc-day').each(function(){
			var thisDate = $(this).attr('data-date');
			var td = $(this).closest('td');
			<% AppointmentsDog.list.each do |key, value| %>
			  if ('<%= key %>' == thisDate){
				td.addClass('background-pink');
			}
			<% end %>
		});
	},
	dayClick: function(date, jsEvent, view) {
		var today = new Date();
		var clicked_date = date;
		var sel_year = date.format('YYYY');
		var sel_month = date.format('MM');
		var sel_day = date.format('DD');
		console.log("you chose:" + sel_year + " " + sel_month + " " + sel_day);
       if (date > today && (!$(this).is('.background-pink')) &&(!$(this).is('.fc-sun'))&&(!$(this).is('.fc-mon'))&&(!$(this).is('.fc-tue'))){
       	//appointment.fully_booked_for_today?(date) 
        	// I could not specify the condition for  "&& ($(this).css('background-color')=="grey")"
         // change the day's background color just for fun
        // $(this).css('background-color', 'red');
         $('#modalBody').html("Would you like to book on" + date.format() + "?");
         $('#eventUrl').attr('href',event.url);
         $('#calendarModal').modal();       
    	 $('#app_date_value').click(function(){
    	 $('#calendarModal').modal('hide');
         $('#appointment_app_date_1i').empty();
         $('#appointment_app_date_1i').append("<option value ='" + sel_year + " selected = 'selected'>" + sel_year + "</option>");
         $('#appointment_app_date_2i').empty();
         $('#appointment_app_date_2i').append("<option value ='" + sel_month + " selected = 'selected'>" + month[sel_month - 1] + "</option>");
         $('#appointment_app_date_3i').empty();
         $('#appointment_app_date_3i').append("<option value ='" + sel_day + " selected = 'selected'>" + sel_day + "</option>");
   		 
		});
    	    	 
     }
    
    },

      // eventClick:  function(event, jsEvent, view) {
      //       $('#modalTitle').html(event.title);
      //       $('#modalBody').html(event.description);
      //      	 $('#eventUrl').attr('href',event.url);
      //       $('#calendarModal').modal();

      //   },
		
	weekMode: 'liquid',  //fixed week count
	Boolean, default: true,  //resize the window
	url: '#',


   
	});
	
 })
</script>