<%=render 'layouts/nav' %>
<div class="top">
<h1> Thank you for completing the reservation  <%= (current_user.first_name || current_user.last_name) if (current_user.first_name || current_user.last_name) || current_user.email %>.</h1>

<p>The confirmation letter is sent to your email address: <%= current_user.email %>.</p>

<p>We will call you at <%= number_to_phone(@appointment.telephone) %> to confirm the reservation previous day from the reservation date: <%= @appointment.app_date %><p>

Here is the summary of your reservation.
<%= render @appointment %>

<p>We look forward to seeing you and your loved one soon!</p>

<p>Thank you for choosing Fuji Pet Salon.</p>
</div>
<%= link_to "Log Out", destroy_user_session_path, method: :delete , class: "btn btn-lg btn-success" %>